# ofc this wont be in the reop, its here for learning purpose
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database
POSTGRES_URL=postgresql://neondb_owner:npg_LBPQ9wbgAs2O@ep-plain-darkness-anxkji5f-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require
# POSTGRES_PRISMA_URL=postgresql://neondb_owner:npg_LBPQ9wbgAs2O@ep-plain-darkness-anxkji5f-pooler.c-6.us-east-1.aws.neon.tech/neondb?pgbouncer=true&connect_timeout=15
# POSTGRES_URL_NON_POOLING=postgresql://neondb_owner:npg_LBPQ9wbgAs2O@ep-plain-darkness-anxkji5f.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
POSTGRES_USER=
POSTGRES_HOST=ep-plain-darkness-anxkji5f-pooler.c-6.us-east-1.aws.neon.tech
POSTGRES_PASSWORD=npg_LBPQ9wbgAs2O
POSTGRES_DATABASE=neondb

# `openssl rand -base64 32`
AUTH_SECRET=LT3/JhnXoGhmUtxiZPy+wXaXi+WGP9MQmguMa9XFUiU=
AUTH_URL=https://ep-plain-darkness-anxkji5f.neonauth.c-6.us-east-1.aws.neon.tech/neondb/auth
